@primeui:registry=https://primeui.store
//npm.primeui.store/:_authToken=eyJpZCI6Ijg3Y2RiMTk4LTJhOTUtNGUxNi04NGIwLTc5ODMxODQxNGRiOCIsInByb2R1Y3QiOiJwcmltZXVpIiwidGllciI6ImNvbW11bml0eSIsInR5cGUiOiJkZXYiLCJpYXQiOjE3ODY3NTE1MDksImV4cCI6MTgxODI4NzUwOX0._rFuRXsasifmTxMB4ofuNMG4yTgtOiO3kX45OVzqxwp03RyO2foNb548iG2po9y7oMG3OH03frsDzzuBIFFxBA